﻿<div class="btn btn-sm btn-primary" ng-click="createNew()">Създай нова</div>
<table class="table table-striped table-condensed" ng-if="news.length > 0">
    <thead>
        <tr>
            <th>Дата</th>
            <th>Заглавие</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in news" ng-click="updateNews(item)">
            <td>{{item.dateCreated | date : 'dd/MM/yyyy'}}</td>
            <td>{{item.heading}}</td>
        </tr>
    </tbody>
</table>
<div ng-if="news.length==0">
    <span>Няма резултати</span>
</div>


