﻿<h1>Списък с потребители за одобрение</h1>

<div ng-if="users.length>0">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Първо Име</th>
                <th>Средно Име</th>
                <th>Фамилия</th>
                <th>Паралелка</th>
                <th>Година на завършване</th>
                <th>Email</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="user in users">
                <td>{{user.firstName}}</td>
                <td>{{user.middleName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.division}}</td>
                <td>{{user.yearOfGraduation}}</td>
                <td>{{user.email}}</td>
                <td>
                    <div ng-if="!user.verified" class="btn btn-sm btn-primary" ng-click="confirmUser(user)">Потвърди</div>
                    <div ng-if="user.verified" class="btn btn-sm btn-primary" ng-click="unConfirmUser(user)">Отмени</div>
                </td>
                <td>
                    <span ng-if="user.verified" style="color:green">
                        Потвърден
                    </span>
                    <span ng-if="!user.verified" style="color:red">
                        Непотвърден
                    </span>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="btn btn-lg btn-primary" ng-disabled="verifiedIds.length==0" ng-click="sendVerifiedUserIds()">Изпрати</div>
</div>
<div ng-if="users.length==0">
    <label class="control-label">Няма потребители за одобрение</label>
</div>

