﻿<h1>Въведете година и паралелка</h1>
<div class="row">
    <form name="studentSearchForm" novalidate ng-submit="getUsers()">
        <div class="form-group">
            <label for="searchYearOfGraduation" class="control-label">Година на завършване</label>
                <input type="number" ng-model="yearOfGraduation" name="yearOfGraduation" id="searchYearOfGraduation" ng-required="true" min="1960" max="2020" />
        </div>
        <div class="form-group">
            <label for="searchDivision" class="control-label">Паралелка</label>
                <select ng-model="division" name="division" ng-options="division for division in divisions" ng-required="true"></select>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-sm btn-primary" value="Търси" />
        </div>
    </form>
</div>

<div ng-if="students.length>0">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Първо Име</th>
                <th>Фамилия</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="student in students | orderBy : firstName" ng-click="selectUser(student.id)">
                <td>{{student.firstName}}</td>
                <td>{{student.lastName}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div ng-if="students.length==0">
    <label class="control-label">Няма резултати</label>
</div>

