﻿<h1>Сигурни ли сте, че искате да изтриете записът?</h1>
<div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm()">Да</button>
    <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog()">Не</button>
</div>