﻿<div class="form-group">
    <span>Заглавие</span>
</div>
<div class="form-group">
    <textarea ng-model="selectedItem.heading"></textarea>
</div>
<div class="form-group">
    <span>Текст</span>
</div>
<div class="form-group">
    <textarea ckeditor="editorOptions" ng-model="selectedItem.body"></textarea>
</div>
<div class="ngdialog-buttons">
    <button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="confirm()">Готово</button>
    <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog()">Откажи</button>
</div>