﻿<div class="row" style="margin-left: 2px;">
    <h1>Преглед на профил</h1>
    <div class="form-group">
        <label for="usernameInputEdit" class="control-label">Потребителско Име: {{selectedUser.userName}}</label>
    </div>
    <div class="form-group">
        <label for="emailInputEdit" class="control-label">E-mailL {{selectedUser.email}}</label>
    </div>
    <div class="form-group">
        <label for="yearOfGraduationInputEdit" class="control-label">Година На Завършване: {{selectedUser.yearOfGraduation}}</label>
    </div>
    <div class="form-group">
        <label for="divisionInputEdit" class="control-label">Паралелка: {{selectedUser.division}}</label>
    </div>
    <div class="form-group">
        <label for="firstNameInputEdit" class="control-label">Първо Име: {{selectedUser.firstName}}</label>
    </div>
    <div class="form-group">
        <label for="middleNameInputEdit" class="control-label">Средно Име: {{selectedUser.middleName}}</label>
    </div>
    <div class="form-group">
        <label for="familyNameInputEdit" class="control-label">Фамилно Име: {{selectedUser.lastName}}</label>
    </div>
    <div class="form-group">
        <label for="descriptionInputEdit" class="control-label">Описание: {{selectedUser.description}}</label>
    </div>
    <div class="form-group">
        <label for="phoneNumberInputEdit" class="control-label">Телефон: {{selectedUser.phoneNumber}}</label>
    </div>
    <div class="form-group">
        <label for="dwellingCountryInputEdit" class="control-label">Държава: {{selectedUser.dwellingCountry}}</label>
    </div>
    <div class="form-group">
        <label for="cityInputEdit" class="control-label">Град: {{selectedUser.city}}</label>
    </div>
    <div class="form-group">
        <label for="universityGraduatedInputEdit" class="control-label">Университет: {{selectedUser.universityGraduated}}</label>
    </div>
    <div class="form-group">
        <label for="professionInputEdit" class="control-label">Професия: {{selectedUser.profession}}</label>
    </div>
    <div class="form-group">
        <label for="companyInputEdit" class="control-label">Компания: {{selectedUser.company}}</label>
    </div>
    <div class="ngdialog-buttons">
        <button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog()">Затвори</button>
    </div>
</div>