﻿<div class="form-group">
    <label class="control-label">
        Моля, изберете опция от менюто.
    </label>
</div>
<div class="row">
    <span account-menu></span>
    <div class="col-sm-10">

        <div ui-view></div>
    </div>
</div>