﻿<div class="row">
    <h2>Забравихте Вашата парола?</h2>
    <p>Ако сте забравили Вашата парола въведете Вашият мейл и ще получите инструкции как да възстановите паролата си.</p>
    <form class="form-horizontal col-sm-12" novalidate name="forgotPasswordForm">
        <div class="form-group" ng-class="{'has-error': submitted && forgotPasswordForm.email.$invalid}">
            <div class="input-group input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-envelope"></span>
                </span>
                <input id="email" type="email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" name="email" ng-model="email"
                       class="form-control" ng-required="true" placeholder="Имейл адрес" autofocus />
            </div>
            <span ng-if="submitted && forgotPasswordForm.email.$error.required">Полето е задължително!</span>
            <span ng-if="forgotPasswordForm.email.$error.pattern"> Невалиден имейл! </span>
        </div>
        <div class="form-group">
            <button type="submit" ng-click="send(submitted=true)" class="btn btn-primary">Изпрати</button>
        </div>
    </form>
</div>
