﻿<div class="row" style="margin-left: 2px;">
    <h1>Редактирайте Вашият профил</h1>
    <form name="editProfile" class="form-horizontal col-sm-12" ng-submit="update()">
        <!--<div class="btn btn-lg btn-primary" ng-file-select
             ng-model="image"
             ng-file-change="upload($files, $event)">
            Качи снимка
        </div>
        <span>{{image.name}}</span>-->

        <div class="form-group">
            <label for="usernameInputEdit" class="col-sm-4 control-label">Потребителско Име *</label>
            <div class="col-sm-8">
                <input ng-model="user.userName" type="text" id="usernameInputEdit" class="form-control" required />
            </div>
        </div>
        <div class="form-group">
            <label for="emailInputEdit" class="col-sm-4 control-label">E-mail *</label>
            <div class="col-sm-8">
                <input type="email" ng-model="user.email" id="emailInputEdit" name="emailInput" class="form-control" required />
            </div>
        </div>
        <div class="form-group">
            <label for="yearOfGraduationInputEdit" class="col-sm-4 control-label">Година На Завършване *</label>
            <div class="col-sm-8">
                <input type="number" ng-model="user.yearOfGraduation" id="yearOfGraduationInputEdit" class="form-control" required />
            </div>
        </div>
        <div class="form-group">
            <label for="divisionInputEdit" class="col-sm-4 control-label">Паралелка *</label>
            <div class="col-sm-8">
                <select ng-model="user.division" id="divisionInputEdit" ng-options="division for division in divisions"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="firstNameInputEdit" class="col-sm-4 control-label">Първо Име *</label>
            <div class="col-sm-8">
                <input type="text" ng-model="user.firstName" id="firstNameInputEdit" class="form-control" required />
            </div>
        </div>
        <div class="form-group">
            <label for="middleNameInputEdit" class="col-sm-4 control-label">Средно Име *</label>
            <div class="col-sm-8">
                <input type="text" ng-model="user.middleName" id="middleNameInputEdit" class="form-control" required />
            </div>
        </div>
        <div class="form-group">
            <label for="familyNameInputEdit" class="col-sm-4 control-label">Фамилно Име *</label>
            <div class="col-sm-8">
                <input type="text" ng-model="user.lastName" id="familyNameInputEdit" class="form-control" required />
            </div>
        </div>
        <div class="form-group">
            <label for="descriptionInputEdit" class="col-sm-4 control-label">Описание</label>
            <div class="col-sm-8">
                <textarea ng-model="user.description" id="descriptionInputEdit" class="form-control"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="phoneNumberInputEdit" class="col-sm-4 control-label">Телефон</label>
            <div class="col-sm-8">
                <input type="text" ng-model="user.phoneNumber" id="phoneNumberInputEdit" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="dwellingCountryInputEdit" class="col-sm-4 control-label">Държава</label>
            <div class="col-sm-8">
                <input type="text" ng-model="user.dwellingCountry" id="dwellingCountryInputEdit" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="cityInputEdit" class="col-sm-4 control-label">Град</label>
            <div class="col-sm-8">
                <input type="text" ng-model="user.city" id="cityInputEdit" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="universityGraduatedInputEdit" class="col-sm-4 control-label">Университет</label>
            <div class="col-sm-8">
                <input type="text" ng-model="user.universityGraduated" id="universityGraduatedInputEdit" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="professionInputEdit" class="col-sm-4 control-label">Професия</label>
            <div class="col-sm-8">
                <input type="text" ng-model="user.profession" id="professionInputEdit" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label for="companyInputEdit" class="col-sm-4 control-label">Компания</label>
            <div class="col-sm-8">
                <input type="text" ng-model="user.company" id="companyInputEdit" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-10">
                <button type="submit" class="btn btn-default">Изпрати</button>
            </div>
        </div>
    </form>
</div>