﻿<h2>Регистрация</h2>
<div class="form-group">
    Моля регистрирайте Вашият акаунт.
    След като го регистрирате, той трябва да бъде одобрен от нашите администратори, за да сме
    сигурни, че само възпитаници на СМГ се регистрират тук. Това може да отнеме няколко дни, след което ще
    получите e-mail с потвърждение.
</div>
<div class="row">
    <form ng-submit="register()" name="registerForm" role="form" class="form-horizontal col-sm-12">
        <div class="form-group">
            <label for="usernameInput" class="col-sm-4 control-label">Потребителско Име *</label>
            <div class="col-sm-8">
                <input ng-model="user.username" type="text" id="usernameInput" class="form-control" required />
            </div>
        </div>
        <div class="form-group">
            <label for="emailInput" class="col-sm-4 control-label">E-mail *</label>
            <div class="col-sm-8">
                <input type="email" ng-model="user.email" id="emailInput" name="emailInput" class="form-control" required />
            </div>
        </div>
        <div class="form-group">
            <label for="emailConfirmInput" class="col-sm-4 control-label">Потвърди E-mail *</label>
            <div class="col-sm-8">
                <input type="email" ng-model="user.confirmemail" id="emailConfirmInput" class="form-control" required />
            </div>
        </div>
        <div class="form-group">
            <label for="passwordInput" class="col-sm-4 control-label">Парола *</label>
            <div class="col-sm-8">
                <input type="password" ng-model="user.password" id="passwordInput" class="form-control" required />
            </div>
        </div>
        <div class="form-group">
            <label for="passwordConfirmInput" class="col-sm-4 control-label">Потвърди Паролата *</label>
            <div class="col-sm-8">
                <input type="password" ng-model="user.confirmpassword" id="passwordConfirmInput" class="form-control" required />
            </div>
        </div>
        <div class="form-group">
            <label for="yearOfGraduationInput" class="col-sm-4 control-label">Година На Завършване *</label>
            <div class="col-sm-8">
                <input type="number" ng-model="user.yearOfGraduation" id="yearOfGraduationInput" class="form-control" required />
            </div>
        </div>
        <div class="form-group">
            <label for="divisionInput" class="col-sm-4 control-label">Паралелка *</label>
            <div class="col-sm-8">
                <select ng-model="user.division" id="divisionInput" ng-options="division for division in divisions"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="firstNameInput" class="col-sm-4 control-label">Първо Име *</label>
            <div class="col-sm-8">
                <input type="text" ng-model="user.firstName" id="firstNameInput" class="form-control" required />
            </div>
        </div>
        <div class="form-group">
            <label for="middleNameInput" class="col-sm-4 control-label">Средно Име *</label>
            <div class="col-sm-8">
                <input type="text" ng-model="user.middleName" id=middleNameInput" class="form-control" required />
            </div>
        </div>
        <div class="form-group">
            <label for="familyNameInput" class="col-sm-4 control-label">Фамилно Име *</label>
            <div class="col-sm-8">
                <input type="text" ng-model="user.lastName" id=familyNameInput" class="form-control" required />
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-4 col-sm-10">
                <button type="submit" class="btn btn-default">Изпрати</button>
            </div>
        </div>
    </form>
</div>