﻿<p>
    Благодарим Ви, че се регистрирахте в системата на СМГ Алумни.
</p>
<br />
<p>
    Нашите администратори ще проверят Вашите данни и ако сте бил/а възпитаник на СМГ, Вашият акаунт ще бъде одобрен, след което ще може да влезете в системата.
</p>
<br />
<p>
    Това може да отнеме няколко дни. След като Ви одобрим ще Ви изпратим и-мейл на посочения от Вас адрес.
</p>
