﻿<div class="row">
    <h2>Сменете Вашата парола!</h2>
    <form class="form-horizontal col-sm-12">
        <div class="form-group">
            <label for="newpassword" class="col-sm-4 control-label">Нова Парола</label>
            <div class="col-sm-4">
                <input name="newpassword" ng-model="resetPassword.password" type="password" class="form-control" required />
            </div>
        </div>
        <div class="form-group">
            <label for="confirmpassword" class="col-sm-4 control-label">Потвърдете паролата</label>
            <div class="col-sm-4">
                <input name="confirmpassword" ng-model="resetPassword.confirmpassword" type="password" class="form-control" required />
            </div>
        </div>
        <div class="col-sm-4">
            <button type="submit" ng-click="changePassword()" class="btn btn-default">Смени паролата</button>
        </div>
    </form>
</div>
